<section id="Explore" class="explore-section">
        <div class="explore-head-text">
            <h2>EXPLORE CAREER FIELDS</h2>
            <p>Discover diverse paths based on <strong>YOU</strong>.</p>
        </div>
    
        <div class="explore-allCards">
            <div class="card">
            <div class="card-img"><img src="/images/medicine.png" alt="card-img" id="medicine"></div>
            <h3>Medicine</h3>
            <p>"Heal lives, drive change — step into the world of Medicine."</p>
            <button class="card-btn">EXPLORE</button>
            </div>

             <div class="card">
            <div class="card-img"><img src="/images/law.png" alt="card-img" id="law"></div>
            <h3>Law</h3>
            <p>"Speak for justice, fight for what's right — the path of Law awaits you."</p>
            <button class="card-btn">EXPLORE</button>
            </div>

            <div class="card">
            <div class="card-img"><img src="/images/tech.png" alt="card-img" id="tech"></div>
            <h3>Tech</h3>
            <p>Build the future, one line of code at a time — dive into the world of Tech."</p>
            <button class="card-btn">EXPLORE</button>
            </div>

            <div class="card">
            <div class="card-img"><img src="/images/design.png" alt="card-img" id="design"></div>
            <h3>Design</h3>
            <p>"Turn ideas into experiences — design the world through your eyes."</p>
            <button class="card-btn">EXPLORE</button>
            </div>

             <div class="card">
            <div class="card-img"><img src="/images/archi.png" alt="card-img" id="architechture"></div>
            <h3>Architecture</h3>
            <p>"Shape skylines and spaces — craft the future brick by brick."</p>
            <button class="card-btn">EXPLORE</button>
            </div>

            <div class="card">
            <div class="card-img"><img src="/images/defence.png" alt="card-img" id="defence"></div>
            <h3>Defence</h3>
            <p>"Serve with courage, lead with honor — the nation calls for the brave."</p>
            <button class="card-btn">EXPLORE</button>
            </div>

            <div class="card">
            <div class="card-img"><img src="/images/research.png" alt="card-img" id="research"></div>
            <h3>Research</h3>
            <p>"Ask questions, chase truth — the path of discovery begins here."</p>
            <button class="card-btn">EXPLORE</button>
            </div>

             <div class="card">
            <div class="card-img"><img src="/images/business.png" alt="card-img" id="business"></div>
            <h3>Business</h3>
            <p>"Lead ideas, take risks — build your own legacy in the world of Business."</p>
            <button class="card-btn">EXPLORE</button>
            </div>

            <div class="card">
            <div class="card-img"><img src="/images/edu.png" alt="card-img" id="education"></div>
            <h3>Education</h3>
            <p>"Inspire minds, shape futures — become the guide you once needed."</p>
            <button class="card-btn">EXPLORE</button>
            </div>
        </div>

        <div class="explore-foot-text">
            <h3>You're more than a list of carrer options</h3>
            <p>Pathfinder’s quiz helps you go beyond the obvious — and explore possibilities that align with you, not just what’s popular.</p>
            <button class="start-button">Discover Your Journey</button>
        </div>
</section>