<footer>
    <section id="Contact">
<div class="contact-section">
    <div class="contact-section-left">
        <h2>PathFinder</h2>
        <h3>Helping students find their path across all fields.</h3>
        <div class="contact-quicklinks">
            <a href="#Home">[ Home ]</a>
            <a href="#Explore">[ Explore ]</a>
            <a href="#Quiz">[ Quiz ]</a>
        </div>
    </div>
    <div class="contact-section-right">
        <div class="email"><p><b>Contact Us : </b>team.pathfinder@gmail.com</p></div>
        <div class="connect"><b>Connect With Us  :</b>
        <a href="https://github.com/kashish2410"><i class="fa-brands fa-github " style="color: #000000;"></i></a>
        <a href="#insta"><i class="fa-brands fa-instagram " style="color: #000000;"></i></a>
        <a href="https://www.linkedin.com/in/kashish-kiraula-2a0a0131a/"><i class="fa-brands fa-linkedin " style="color: #000000;"></i></a>
        </div>

    </div>
</div>
<hr>
<div class="last-line">
<h3>Made with &#9829; by Kashish | &#169;2025 PathFinder</h3>
</div>
</section>
</footer>