<section id="Home" class="home-section">
        <div class="home-img"><img src="/images/img1.webp" alt="Not Available"></div>
        <div class="home-text">
            <h2>“Still figuring out what you want to become? You’re not alone.”</h2>
            <p>Pathfinder helps students like you discover career paths based on what you love — from law to coding to defence and beyond.</p>
            <button class="start-button">START YOUR JOURNEY</button>
        </div>
</section>