<section id="Quiz">
       <div class="quiz-head"><h2>Not Sure What Path Is Right For You <b>?</b></h2></div>
       <div class="quiz-body">
        <div class="quiz-img"><img src="" alt="not yet"></div>
        <div class="quiz-body-content">
            <p class="l1">That’s okay — Pathfinder’s quiz is designed to guide you through the chaos.</p>
            <p class="l2">This isn’t a boring test. It's a vibe check to help you discover career options that match your personality, passions, and strengths.</p>
            <p class="l3">Find clarity. Feel seen. Take the quiz.</p>
            <form method="get" action="/pathfinder/quiz">
            <button class="start-button quiz-btn">START QUIZ</button>
            </form>
        </div>
       </div>
</section>