body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
   scroll-behavior: smooth;
   min-height: 100vh;
   height: 100%;
   display: flex;
   flex-direction: column;
   
}
.container{
  background-color: #FFF6EF;
  min-height: 100%;
  flex: 1;

}
